* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", serif;
}
.container {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
  align-content: center;
}
